<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="project/layout/basic">

<div id="wrap">

  <th:block layout:fragment="content">
  <!-- area_subVisual -->
  <div class="area_subVisual">
    <section class="wrapper">
      <div class="sv_text">
        <h2>About</h2>
        <p>아이들과 함께 편안하고 즐거운 추억을 만들어보세요.</p>
      </div>

      <div class="area_lnb">
        <section class="wrapper">
          <h3>quick menu</h3>
          <ul>
            <li class="active">
              <a href="/about/introduce" class="about_sub01 on">소개, 전경</a>
            </li>
            <li>
              <a href="/about/informationUse" class="about_sub02">이용안내</a>
            </li>
          </ul>
        </section>
      </div>
    </section>
  </div>
  <!-- //area_subVisual -->

    <section id="container" class="about02 wrapper">
      <div id="content">
        <h3 class="sub_tit">이용안내</h3>
        <ul>
          <li>실내에서는 절대 금연입니다.</li>
          <li>안전사고에 각별히 주의 부탁드립니다 <span>(물놀이나 놀이기구에서 놀다가 다치지 않도록 보호자께서는 잘 지켜봐 주세요!)</span></li>
          <li>애견동반 금지입니다.</li>
          <li>싱크대에 있는 식기구는 사용 후 다음 손님을 위해 깨끗하게 씻고 정리정돈 부탁드립니다.</li>
          <li>객실 내에서 나오는 쓰레기는 싱크대 아래에 분리수거 부탁드립니다.</li>
          <li>화장실 변기 안에 이물질이나 많은 양의 두루마리 화장지를 한 번에 넣지 않도록 해주세요. 변기가 막힌답니다.</li>
          <li>
            1객실 당 1대만 주차비를 지원해드리고 있습니다. <span>(2대부터는 본인 부담입니다.)</span>
            <p class="notice">* 입실 15시 전이나 퇴실 11 이후는 주차비 지원이 되지 않습니다. 반드시 본인 부담 참고 부탁드립니다.</p>
          </li>
          <li>온수 추가는 3만원의 비용이 발생합니다.</li>
          <li>노래방 노래는 오전 09시부터 퇴실 11시까지 / 밤에는 입실 후부터 23시 전까지입니다. <span>(소음으로 인한 분쟁 발생 우려)</span></li>
          <li>밤늦게 뛰거나 소음은 자제 부탁드립니다.</li>
          <li>기준인원 외 추가인원은 반드시 결제 부탁드리며, 무단으로 입실시 강제퇴실 됩니다. <span>(추가인원은 입실기준이며 숙박기준이 아닙니다.)</span></li>
          <li>퇴실 시 객실 비품 파손이나 세탁물에 손상을 입힌 경우, 반드시 호텔측에 고지하고 변상유무를 의논하셔야 합니다.</li>
          <li>퇴실 전 아이들이 가지고 논 장난감은 깔끔하게 정리정돈 부탁드립니다.</li>
          <li>밤 10시부터는 긴급상황시만 응대 <span>(긴급전화 : 010-2449-5665 / 051-715-8844)</span></li>
        </ul>
      </div>
    </section>

  </th:block>
</div>

<th:block layout:fragment="css">
  <style>
  </style>
</th:block>

<th:block layout:fragment="script">
  <script th:inline="javascript">
  </script>
</th:block>