<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="project/layout/basic">


<div id="wrap">

  <th:block layout:fragment="content">
  <!-- area_subVisual -->
  <div class="area_subVisual">
    <section class="wrapper">
      <div class="sv_text">
        <h2>About</h2>
        <p>아이들과 함께 편안하고 즐거운 추억을 만들어보세요.</p>
      </div>
      <div class="area_lnb">
        <section class="wrapper">
          <h3>quick menu</h3>
          <ul>
            <li class="active"><a href="/contents/01_about/sub01.html#lnb" class="about_sub01 on">소개, 전경</a></li>
            <li><a href="/contents/01_about/sub02.html#lnb" class="about_sub02">이용안내</a></li>
          </ul>
        </section>
      </div>
    </section>
  </div>
  <!-- //area_subVisual -->
  <section id="container" class="about01">
    <div id="content">
      <h2 class="sub_tit2 wrapper">부산에서 가장 넓고 쾌적한 <br><span class="txt_point">부산 아몬드키즈풀빌라 남포점</span>입니다.</h2>
      <div class="sub_section ss01">
        <section class="wrapper">
          <p>
            안녕하세요. 부산 아몬드키즈풀빌라 남포점입니다. <br>
            부산에서 가장 넓고 쾌적한 대형 객실을 갖추고 있는 프리미엄 키즈 풀빌라입니다. <br>
            푸른 바다와 도심의 알므다움을 느끼면서 아이들과 함께 편안하고 즐거운 추억을 만들어보세요. <br>
            부산을 대표하는 다양한 볼거리, 먹거리, 놀거리를 경험하실 수 있습니다.
          </p>
          <div class="swiper-container aboutSlider">
            <ul class="swiper-wrapper">
              <li class="swiper-slide" style="background-image:url(/images/content/room01_img01.jpg)"></li>
              <li class="swiper-slide" style="background-image:url(/images/content/room03_img04.jpg)"></li>
              <li class="swiper-slide" style="background-image:url(/images/content/room02_img04.jpg)"></li>
              <li class="swiper-slide" style="background-image:url(/images/content/room04_img02.jpg)"></li>
              <li class="swiper-slide" style="background-image:url(/images/content/room05_img01.jpg)"></li>
              <li class="swiper-slide" style="background-image:url(/images/content/outside01.jpg)"></li>
              <li class="swiper-slide" style="background-image:url(/images/content/outside02.jpg)"></li>
            </ul>
          </div>
          <div class="swiper-button room-button-next"></div>
          <div class="swiper-button room-button-prev"></div>
        </section>
      </div>

      <div class="sub_section ss02 wrapper">
        <p>
          자갈치시장, 영도대교, 남포동 BIFF거리, 광복패션거리, 국제시장, 부평시장(깡통시장), <br>
          용두산공원, 롯데백화점 광복점, 부산타워 등 모두 도보로 다녀올만큼 위치가 좋습니다. <br>
          태종대, 송도해수욕장, 송도해상케이블카, 국제여객터미널, 국제해양박물관, 보수동책방골목, 부산역 등과 <br>
          인접하여 부산을 둘러보시기에 최적입니다.
        </p>

        <p><strong>
          쾌적한 시설과 수준 높은 서비스로 좋은 추억을 담아 가실 수 있도록 <br>
          최선을 다해 준비하겠습니다.
        </strong></p>
      </div>
    </div>
  </section>
</th:block>
</div>

<th:block layout:fragment="css">
  <style >
  .wrapper {
    position: relative;
    width: 1400rem;
    max-width: 92%;
    margin: 0 auto;
    margin-bottom: 30rem;
  }
  </style>
</th:block>

<th:block layout:fragment="script">
  <script th:inline="javascript">
    $(document).ready(function() {
      AOS.init();
      aboutSlider();
    });

	$(function(){
		$('.area_lnb').css('background', 'url(/images/content/lnb_bg_blue.png) no-repeat bottom center / contain')
	});

    var interleaveOffset = 0.5;
    function aboutSlider() {
      new Swiper(".aboutSlider", {
          slidesPerView: 3,
          speed: 1000,
<!--          slidesPerGroup: 3,-->
          spaceBetween: 20,
          effect : 'coverflow',
          centeredSlides: false,
          loop : false,
          observer:true,
          observeParents:true,
          navigation: {
              nextEl: ".room-button-next",
              prevEl: ".room-button-prev",
          },
          autoplay : {
              delay : 3000,
              disableOnInteraction : false,
          },

      });
    }

  </script>
</th:block>