<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="admin/layout/basic">
<th:block layout:fragment="title">
  <title>어드민 메인 페이지</title>
</th:block>

<th:block layout:fragment="content">

  <section id="container">

    <div id="login_wrap">
      <div id="login_box">
        <div class="login_con">
          <div class="login_tit">
            <h2>ADMIN</h2>
            <p>LOG<i>IN</i></p>
          </div>

          <div sec:authorize="isAuthenticated()" class="login_input">
            <h2 sec:authentication="name"></h2>
            <p>환영<i>합니다</i></p>
          </div>
        </div>
      </div>
    </div>

  </section>
</th:block>

<th:block layout:fragment="script">

</th:block>