<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="admin/layout/basic">
<th:block layout:fragment="title">
  <title>공지사항 상세 페이지</title>
</th:block>

<th:block layout:fragment="content">
  <section id="container">

    <div class="page_tits">
      <h3>공지사항 상세 관리</h3>
      <p class="path"><strong>현재 위치 :</strong> <span>공지사항 상세 관리</span> <span>상세정보</span></p>
    </div>

    <div class="content">
      <table class="tb tb_row">
        <colgroup>
          <col style="width:10%;" />
          <col style="width:23%;" />
          <col style="width:10%;" />
          <col style="width:23%;" />
        </colgroup>
        <tbody>
          <tr>
            <th scope="row">글 유형</th>
            <td th:text="일반"></td>

            <th scope="row">삭제 여부</th>
            <td th:text="${items.deleteYn == 1 ? '삭제됨' : '공개됨'}"></td>
          </tr>
          <tr>
            <th scope="row">시작일(00:00)</th>
            <td th:text="${#temporals.format( items.startDate, 'yyyy-MM-dd HH:mm' )}"></td>
            <th scope="row">마감일(00:00)</th>
            <td th:text="${#temporals.format( items.endDate, 'yyyy-MM-dd HH:mm' )}"></td>
          </tr>
          <tr>
            <th scope="row">순서</th>
            <td colspan="3" th:text="${items.ord}"></td>
          </tr>
          <tr>
            <th scope="row">제목</th>
            <td colspan="3" th:text="${items.title}"></td>
          </tr>
          <tr>
            <th scope="row">이름</th>
            <td colspan="3" th:text="${items.writer}"></td>
          </tr>
          <tr>
            <th scope="row">내용</th>
            <td colspan="3" th:text="${items.content}"></td>
          </tr>
        </tbody>
      </table>

      <p class="btn_set">
        <a th:href="@{/admin/notice/write( id=${items.id} )}" class="btns btn_bdr4 btn_mid">수정</a>
        <a th:href="@{/admin/notice/list}" class="btns btn_bdr3 btn_mid">뒤로</a>
      </p>
    </div> <!--/* .content */-->
  </section>
</th:block>

<th:block layout:fragment="css">
  <style >
  .btn_set > a {
    color: #111111;
  }
  </style>
</th:block>
<th:block layout:fragment="script">
  <script th:inline="javascript">

  </script>
</th:block>
</html>