<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="project/layout/basic">


<div id="wrap">

  <th:block layout:fragment="content">
  <!-- area_subVisual -->
  <div class="area_subVisual">
    <section class="wrapper">
      <div class="sv_text">
        <h2>Notice</h2>
        <p>아이들과 함께 편안하고 즐거운 추억을 만들어보세요.</p>
      </div>
    </section>
  </div>
  <!-- //area_subVisual -->

  <section id="container" class="wrapper">
    <div id="content">
      <h3 class="sub_tit">공지사항</h3>

      <!-- 검색 및 버튼 -->
      <div class="bbsSearch">
        <form action="" method="get">
          <input type="hidden" name="board_id" value="board_notice">
          <input type="hidden" name="start" value="0">

          <div class="designSelect">
            <select name="search_key" id="searchType">
              <option value="">전체</option>
              <option value="title"> 제목</option>
              <option value="name">작성자</option>
            </select>
          </div>

          <input type="text" id="keyword" name="keyword" placeholder="검색어를 입력하세요" value="">
          <input type="submit" class="button" value="검색">
        </form>
      </div>

      <ul class="bbsList">
        <li class='none'>등록된 글이 없습니다.</li>
      </ul>

      <ul class="photoList">
        <li>
          <a href="">
            <span class="img"></span>
            <em>홈페이지 오픈 이벤트</em>
            <span class="write">
              <em>2023-06-06</em>
              <i>아몬드키즈풀빌라 남포점</i>
            </span>
          </a>
        </li>
      </ul>

      <!-- page -->
      <div class="pagination">
        <div class='page_control_prev'>
          <a href='/contents/03_offers/notice.html?board_id=board_notice&amp;search_key=&amp;keyword=&amp;cate=&amp;start=0' class='btn_end first'><span>맨처음</span></a></div><ol><li class='on'><a href='javascript:void(0);'>1</a></li></ol><div class='page_control_next'><a href='/contents/03_offers/notice.html?board_id=board_notice&amp;search_key=&amp;keyword=&amp;cate=&amp;start=0' class='btn_end last'><span>맨마지막</span></a>
        </div>
      </div>
      <!-- //page -->

    </div>
  </section>
</th:block>
</div>

<th:block layout:fragment="css">

</th:block>

<th:block layout:fragment="script">
  <script th:inline="javascript">

    $(document).ready(function() {
      selectDesign();
    });


    function selectDesign(){
        $('.designSelect select').each(function(){
            var $this = $(this), numberOfOptions = $(this).children('option').length;

            $this.addClass('select-hidden');
            $this.wrap('<div class="select"></div>');
            $this.after('<div class="selectbox"></div>');

            var $styledSelect = $this.next('div.selectbox');
            $styledSelect.text($this.children('option').eq(0).text());

            var $list = $('<ul />', {
                'class': 'selectoption'
            }).insertAfter($styledSelect);

            for (var i = 0; i < numberOfOptions; i++) {
                $('<li />', {
                    text: $this.children('option').eq(i).text(),
                    rel: $this.children('option').eq(i).val()
                }).appendTo($list);
                if($this.children('option').eq(i).is(':selected')){
                    var tmp_this = $this.children('option').eq(i);
                    $styledSelect.text(tmp_this.text()).removeClass('active');
                }
            }

            var $listItems = $list.children('li');

            $styledSelect.click(function(e) {
                $(this).parent("div").toggleClass('active');
                //$(".designSelect .select").addClass('active');
                e.stopPropagation();
                $('div.selectbox.active').not(this).each(function(){
                    $(this).removeClass('active').next('ul.selectoption').slideToggle();
                });
                $(this).toggleClass('active').next('ul.selectoption').slideToggle();

                $( ".designSelect" ).mouseleave(function() {
                     $styledSelect.removeClass('active').addClass('trans');
                     $(".designSelect .select").removeClass('active');
                    $list.slideUp();
                });
            });

            $listItems.click(function(e) {
                $list.children('li').removeClass("selected");
                $styledSelect.removeClass('trans');
                $(this).addClass("selected");
                e.stopPropagation();
                $styledSelect.text($(this).text()).removeClass('active');
                $this.val($(this).attr('rel'));
                $list.hide();
                $(".designSelect .select").removeClass('active');
            });
        });
    }


<!--  $(document).ready(function() {-->
<!--      $('form').submit(function() {-->
<!--          var chk = true;-->

<!--          //셀렉트 체크-->
<!--          $('.required_select').each(function() {-->
<!--              if (!$(this).val()) {-->
<!--                  alert($(this).attr('title') + "을 선택하세요.");-->
<!--                  $(this).focus();-->
<!--                  chk = false;-->
<!--                  return false;-->
<!--              }-->
<!--          });-->
<!--          if (!chk) { return false; }-->

<!--          // 라디오 버튼 체크-->
<!--          $('.required_radio').each(function() {-->
<!--          /*-->
<!--              if (!$(this).find('input:radio:checked').length) {-->
<!--                  alert($(this).attr('title') + "을 선택하세요.");-->
<!--                  $(this).find('input:radio').first().focus();-->
<!--                  chk = false;-->
<!--                  return false;-->
<!--              }-->
<!--          */-->
<!--              var radio_name = $(this).attr("name");-->

<!--              if(!$("input[type=radio][name="+radio_name+"]").is(":checked")){-->
<!--                  alert($(this).attr('title') + "을 선택하세요.");-->
<!--                  //$(this).find('input:radio').first().focus();-->
<!--                  $("input[type=radio][name="+radio_name+"]").focus();-->
<!--                  chk = false;-->
<!--                  return false;-->
<!--              }-->

<!--          });-->
<!--          if (!chk) { return false; }-->

<!--          // 체크박스 버튼 체크-->
<!--          $('.required_checkbox').each(function() {-->

<!--              // 최소 한개 선택-->
<!--              if (!$(this).find('input:checkbox:checked').length) {-->
<!--                  alert($(this).attr('title') + "을 선택하세요.");-->
<!--                  $(this).find('input:checkbox').first().focus();-->
<!--                  chk = false;-->
<!--                  return false;-->
<!--              }-->

<!--              // 최대 선택-->
<!--              if ($(this).find('input:checkbox:checked').length > $(this).attr('limit')) {-->
<!--                  alert($(this).attr('title') + "는 " + $(this).attr('limit') + "개까지 선택이 가능합니다.");-->
<!--                  $(this).find('input:checkbox').first().focus();-->
<!--                  chk = false;-->
<!--                  return false;-->
<!--              }-->
<!--              /*-->
<!--              // 필수 선택 수 적용-->
<!--              if ($(this).find('input:checkbox:checked').length != $(this).attr('limit')) {-->
<!--                  alert($(this).attr('title') + "는 " + $(this).attr('limit') + "개까지 선택하셔야 합니다.");-->
<!--                  $(this).find('input:checkbox').first().focus();-->
<!--                  chk = false;-->
<!--                  return false;-->
<!--              }-->
<!--              */-->

<!--          });-->

<!--          if (!chk) { return false; }-->

<!--          $('.required').each(function() {-->
<!--              if (!$(this).val()) {-->
<!--                  alert($(this).attr('title') + "을 입력하세요.");-->
<!--                  $(this).focus();-->
<!--                  chk = false;-->
<!--                  return false;-->
<!--              }-->
<!--          });-->

<!--          if (!chk) { return false; }-->


<!--          if("<?=$board[sms_auth]?>" == "Y" && "<?=$mode?>" != "modify"){-->
<!--              $('.auth_required').each(function() {-->
<!--                  if ($(this).val() != "Y") {-->
<!--                      alert("인증을 진행해주세요.");-->
<!--                      chk = false;-->
<!--                      return false;-->
<!--                  }-->
<!--              });-->

<!--              if (!chk) { return false; }-->
<!--          }-->
<!--      });-->

<!--  });-->

<!--  $(document).on('click', 'a[href="#"]', function(e){-->
<!--      e.preventDefault();-->
<!--  });-->

<!--  $(function(){-->
<!--      $('.btn_del').click(function(){-->
<!--          $("."+$(this).attr('id')).toggle('show');-->
<!--      });-->

<!--      $('.btn_reply').click(function(){-->
<!--          $("."+$(this).attr('id')).toggle('show');-->
<!--      });-->

<!--      $('.hide_all').click(function(){-->
<!--              //$("."+$(this).attr('id')).toggle('hide');-->
<!--              $(this).closest("div").toggle('hide');-->
<!--      });-->
<!--  });-->

<!--  $(document).ready(function() {-->
<!--      var chk = true;-->
<!--      $(".comment_del_form").submit(function() {-->
<!--          if($(this).children("input[type=password]").val() == ""){-->
<!--              alert($(this).children('input[type=password]').attr('title')+"을 입력하세요");-->
<!--              chk = false;-->
<!--              return false;-->
<!--          }-->
<!--          if (!chk) { return false; }-->
<!--      });-->

<!--      $(".comment_append_form").submit(function() {-->
<!--          if($(this).children("input[type=password]").val() == ""){-->
<!--              alert($(this).children('input[type=password]').attr('title')+"을 입력하세요");-->
<!--              chk = false;-->
<!--              return false;-->
<!--          }-->
<!--          if (!chk) { return false; }-->
<!--      });-->

<!--      $(".comment_write").submit(function() {-->

<!--          if($(this).children("input[type=comm_name]").val() == ""){-->
<!--              alert($(this).children('input[type=comm_name]').attr('title')+"을 입력하세요");-->
<!--              chk = false;-->
<!--              return false;-->
<!--          }-->
<!--          if (!chk) { return false; }-->

<!--          if($(this).children("input[type=comm_password]").val() == ""){-->
<!--              alert($(this).children('input[type=comm_password]').attr('title')+"을 입력하세요");-->
<!--              chk = false;-->
<!--              return false;-->
<!--          }-->
<!--          if (!chk) { return false; }-->

<!--          if($(this).children("textarea[type=comm_comments]").val() == ""){-->
<!--              alert($(this).children('textarea[type=comm_comments]').attr('title')+"을 입력하세요");-->
<!--              chk = false;-->
<!--              return false;-->
<!--          }-->
<!--          if (!chk) { return false; }-->
<!--      });-->
<!--  });-->

  </script>
</th:block>