<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="project/layout/basic">


<div id="wrap">

  <th:block layout:fragment="content">
  <!-- area_subVisual -->
  <div class="area_subVisual">
    <section class="wrapper">
      <div class="sv_text">
        <h2>Privacy</h2>
        <p>아이들과 함께 편안하고 즐거운 추억을 만들어보세요.</p>
      </div>
    </section>
  </div>
  <!-- //area_subVisual -->

  <section id="container" class="area_privacy email wrapper">
    <div id="content">
      <h3 class="sub_tit mobile">이메일무단수집거부</h3>

      <div class="inr_policy">
        <i>게시일 : 2023년 4월 28일</i>
        <strong>본 웹사이트에 게시된 이메일 주소가<br>
          전자우편 수집 프로그램이나 그 밖의 기술적 장치를 이용하여 무단으로 수집되는 것을 거부하며,<br>
          이를 위반시 정보통신망법에 의해 형사처벌됨을 유념하시기 바랍니다.</strong>
      </div>
    </div>
  </section>
</th:block>
</div>

<th:block layout:fragment="css">
  <style >
  .wrapper {
    position: relative;
    width: 1400rem;
    max-width: 92%;
    margin: 0 auto;
    margin-bottom: 30rem;
  }
  </style>
</th:block>

<th:block layout:fragment="script">
  <script th:inline="javascript">
    $(document).ready(function() {
      AOS.init();
    });
  </script>
</th:block>