@charset "utf-8";

/* skip */
#skipnav {overflow:hidden; position:absolute; width:100%; z-index:1000;}
#skipnav a {display:block; overflow:hidden; height:1px; width:1px; margin:0 -1px -1px 0; font-size:0; line-height:0; text-align:center;}
#skipnav a:focus, #skipnav a:hover, #skipnav a:active {width:auto; height:20px; margin:0; padding:8px 0 5px; background:#20262c; font-size:12px; font-weight:700; line-height:1; color:#fff;}

.skip_info {display:block; position:absolute; overflow:hidden; width:1px; height:1px; font-size:0; line-height:0; text-indent:100%;}

#adm_wrap {padding-bottom:40px; min-height:100%; min-width:1200px; position:relative; box-sizing:border-box;}
.innerwrap {max-width:1200px; margin:0 auto;}

nav > ul > li.has_sub > a::after, .menu_toggle > span,
.chkbox input:checked+i::before,
.file_list > div > button > span::before, .file_upload label i::after,
.paging .page_bt::after, .es, .wr_cm_txt span::before, .cm_list > div .cm_answer::before, .rating_star, .rating_star_per {content:''; background-image:url(../images/icons.png); background-repeat:no-repeat;}

header * {box-sizing:border-box;}
header {position:relative; z-index:1;}
header .head {overflow:hidden; border-bottom:3px solid rgba(67,75,83,1); padding:10px 15px; background:#fff;}
header .head h1 {color:#111; font-size:17px; font-weight:500; letter-spacing:0; float:left;}
header .head h1 i {color:#e3e3e3; font-size:12px; font-weight:400;}
header .head .top_menu {float:right;}
header .head .top_menu > div {display:inline-block; font-size:13px;}
header .head .top_menu > div i {font-size:12px; color:#fff;}
header .head .top_menu > div button {background:#434b53; border:0; border-radius:3px; width:28px; height:28px; padding:0;}
header .head .top_menu > div.login_user {margin-right:20px;}
header .head .top_menu > div.login_user strong, header .head .top_menu > div.login_user strong i {color:#333;}
header .head .top_menu > div.login_user strong i {font-size:16px; vertical-align:bottom;}

/* nav메뉴 */
nav * {box-sizing:border-box;}
/* nav > ul > li {border-bottom:1px solid #363c43; position:relative;}
 nav > ul > li::before {content:''; background:#4c555e; width:100%; height:1px; position:absolute; bottom:0; left:0;}
nav > ul > li a {display:block; color:rgba(255,255,255,0.9);}
nav > ul > li a.on {color:#fff;}
nav > ul > li > a {font-size:15px; font-weight:500; padding:15px 12px;}
nav > ul > li > a.on {background:#47bac1; border-bottom-color:transparent; position:relative;}
nav > ul > li > a span {display:block; position:relative;}
nav > ul > li > a.on + ul {display:block;}
nav > ul > li > ul {display:none; padding:10px 0;}
nav > ul > li > ul > li > a {padding:5px 15px 5px 25px; position:relative;}
nav > ul > li > ul > li > a::before {content:''; background:#aaa; width:3px; height:2px; position:absolute; top:14px; left:15px;}
nav > ul > li > ul > li > a.on {color:#75e0e6;}
nav > ul > li > ul > li > a.on::before {background:#75e0e6;}
nav > ul > li > ul ul {background:rgba(255,255,255,0.07); border-radius:6px; padding:5px 0; margin:5px 15px;}
nav > ul > li > ul ul > li > a {padding:5px 15px; font-size:13px;}
nav > ul > li.has_sub > a::after {content:''; display:inline-block; background-position:0 0; position:absolute; top:50%; right:15px; margin-top:-3px; width:10px; height:6px; z-index:1; transition:all 0.1s; transform-origin:50% 50%;}
nav > ul > li.has_sub > a.on::after {transform:rotate(180deg); opacity:1;}
*/

footer {background:#fff; box-shadow:0 0 20px rgba(80,80,80,0.1); height:40px; line-height:40px; font-size:12px; color:#999; text-align:center; letter-spacing:0; position:absolute; bottom:0; left:0; width:100%;}

/* 로그인 ------------------------------- */
#login_wrap * {font-family: 'Noto Sans KR', sans-serif; font-weight:400; letter-spacing:0;}
#login_wrap {background:#e8ebf0; width:100%; height:100%; min-width:700px; min-height:400px; position:absolute; top:0;}

#login_box {position:absolute; top:50%; left:50%; margin:-175px 0 0 -340px; width:680px; height:350px; background:#fff; box-shadow:0 0 20px rgba(80,80,80,0.1); border-radius:20px; text-align:center;}
#login_box h2 {font-size:24px; font-weight:500; color:#222; line-height:1.2; position:relative; margin-top:0;}
#login_box h2:before {display:block; background-position:0 -75px; width:110px; height:86px; margin:0 auto; margin-bottom:10px;}
#login_box h2 img {max-height:34px;}
#login_box h2 i {display:block; font-size:10px; color:#777; font-weight:300;}
#login_box h2 + p {font-size:48px; color:#333; font-family:Arial, Helvetica, sans-serif, Dotum; font-weight:bold;}
#login_box h2 + p i {color:#00adb4; font-weight:bold;}
#login_box h2 + p > span {display:block; font-size:24px; color:#222; font-weight:bold;}
#login_box .login_con {overflow:hidden; margin:50px 40px; position:relative;}
#login_box .login_con:after {content:''; background:#ddd; width:1px; height:100%; position:absolute; top:0; left:240px;}
#login_box .login_tit {float:left; width:35%; padding-top:50px;}
#login_box .login_input {margin:10px 0 0 0; float:right; width:52%;}
#login_box .login_input ul li {background:#fff;}
#login_box .login_input ul li + li {margin-top:7px;}
#login_box .login_input ul li input {border:1px solid #d5d5d5; border-radius:50px; margin:0; font-size:14px; padding:0px 20px; width:100%; height:47px;}
#login_box .login_btn {background:#00adb4; border:0; border-bottom:solid 3px #00959a; border-radius:50px; width:100%; height:52px; line-height:52px; font-size:16px; color:#fff; text-align:center; margin:20px 0 15px;}
#login_box .login_input ul li input::-webkit-input-placeholder {color:#999; font-size:14px;}/* Webkit */
#login_box .login_input ul li input:-moz-placeholder {color:#999; font-size:14px;}/* moz */
#login_box .login_input ul li input:-ms-input-placeholder {color:#999; font-size:14px;}/* IE10+ */
#login_wrap .copyright {color:#888; position:absolute; bottom:30px; width:100%; text-align:center;}

@charset "utf-8";

/*
 * common CSS Document
 */

/* Form Control */
input,
select,
textarea,
label{display:inline-block; box-sizing:border-box; width:auto; vertical-align:middle; line-height:1.4;}
input[type=text],
input[type=password],
input[type=tel],
input[type=date],
input[type=email],
input[type=number],
textarea{height: 40px;padding:7px 8px;margin:2px 0px;border:1px solid #ddd;background:#fff;vertical-align:middle;}
textarea{resize:none;}
select{height: 40px;padding:0 8px;margin:2px 0px;border:1px solid #ddd;background:#fff;vertical-align:middle;}
select::-ms-expand {background-color:transparent; border:0;}
input[type="text"],
input[type="password"],
input[type="submit"],
input[type="button"],
input[type="number"],
input[type="file"],
select,
textarea{-webkit-border-radius:1px; -webkit-appearance:none;}
select{padding-right:30px; background:url(../images/board/select_arrow.svg) no-repeat calc(100% - 10px) 50%; background-size:7px 7px;}
body[class*="ie"] select{padding-right:10px;}
input[type=file]{background:#eee; font-size:1.08em;}
input[readonly],
input[disabled]{background:#eee;}
input[type=checkbox],
input[type=radio]{width:13px; height:13px; margin:2px 3px 1px 0;}
input[type=checkbox] + label,
input[type=radio] + label{margin-right:20px;}
table{width:100%;}

.input50{width:50px !important;}
.input70{width:70px !important;}
.input100{width:100px !important;}
.input200{width:200px !important;}
.input300{width:300px !important;}
.input400{width:400px !important;}
.inputFull{width:100% !important;}

/* 필수입력 */
.marking{display:inline-block; position:relative; width:10px; height:14px; margin-bottom:-2px; vertical-align:middle; text-indent:100%; overflow:hidden; white-space:nowrap;}
.marking:after{content:'*'; display:inline-block; position:absolute; top:0; left:0; line-height:17px; font-size:14px; font-weight:600; text-indent:0; color:#c51917;}

/* ie update */
#update{position:fixed; top:0px; left:0px; z-index:99; width:100%; background:#1a1b1d; text-align:center; font-weight:300; color:#f9ed89;}
#update a{display:inline-block; margin-left:10px; color:#ff7f7f;}

/* 정렬 */
.tac{text-align:center !important;}
.tal{text-align:left !important;}
.tar{text-align:right !important;}

/* margin */
.mt0{margin-top:0px !important;}
.mt10{margin-top:10px !important;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}

/* button */
.btn_area{padding:30px 0; text-align:center;}
.btn_area.right{text-align:right;}
.btn_area.left{text-align:left;}
.button{display:inline-block; overflow:hidden; position:relative; min-width:100px; height:45px; line-height:43px; box-sizing:border-box; padding:0 15px; margin:2px 0px; background:#41464e; border:1px solid #25282d; color:#fff !important; text-align:center; vertical-align:middle; transition:all 0.4s ease-out 0.1s; -webkit-backface-visibility:hidden; -moz-backface-visibility:hidden; -webkit-transform:translate3d(0, 0, 0); -moz-transform:translate3d(0, 0, 0);}
.button span{position:relative; z-index:2;}
.button.red{background:#c40251; border:1px solid #c40251;}
.button.blue{background:#2377d0; border:1px solid #1760ad;}
.button.black{background:#2d2b2b; border:1px solid #1f1f1f;}
.button.gray{background:#92999e; border:1px solid #92999e;}
.button.white{background:#fff; border:1px solid #cdcdcd; color:#444 !important;}
.button.lg{min-width:150px; height:50px; line-height:48px; font-size:16px; letter-spacing:-1px;}
.button.sm{min-width:60px; height:23px; line-height:21px; padding:0 10px; font-size:12px;}
.btn_area .button{height:45px; line-height:43px;}
.btn_area .button.sm{height:23px; line-height:21px;}
.btn_area .button.lg{height:50px; line-height:48px;}
table .button{height:33px; line-height:31px;}

/* button hover */
.button:before{content:''; display:block; position:absolute; top:0px; right:0px; bottom:0px; left:0px; z-index:1; width:120%; height:110%; background:#fff; transform:translateX(-120%) skew(-15deg); transition:transform 0.7s cubic-bezier(0, 0, 0.21, 0.87) 0s;}
.button:hover:before,
.button:focus:before{background:#fff; transform:translateX(-10%) skew(-15deg) perspective(500px);}
.button:hover,
.button:focus{color:#222 !important; box-shadow:0px 10px 15px rgba(0,0,0,0.15);}
input.button:hover,
input.button:focus{opacity:0.8; color:#fff !important;}
label.button.white:hover,
label.button.white:focus{color:#222 !important;}
label.button.white:before{display:none;}

/* table */
#content table.table{margin-top:15px; border-top:1px solid #868686;}
#content table.table thead th{background:#f5f5f5; border-bottom:1px dashed #cecece;}
#content table.table thead tr:last-child th{border-bottom:1px solid #868686;}
#content table.table thead th[rowspan]{border-bottom:1px solid #868686; border-right:1px dashed #cecece;}
#content table.table tbody th{background:#f5f5f5; border:1px solid #e0e0e0; border-right-color:#868686;}
#content table.table thead + tbody th{background:transparent; border-right-color:#e0e0e0;}
#content table.table th,
#content table.table td{padding:10px; letter-spacing:-0.5px; line-height:1.4em; word-break:keep-all;}
#content table.table th{text-align:center; font-weight:500;}
#content table.table tbody td{border:1px solid #e0e0e0; text-align:left;}
#content table.table tbody tr td:last-child{border-right-width:0px;}
#content table.table tbody tr td:first-child,
#content table.table tbody tr th:first-child{border-left-width:0px;}
#content table.table thead + tbody tr td{text-align:center;}
#content table.table .tal{text-align:left !important;}
#content table.table .tar{text-align:right !important;}
#content table.table .list{margin-top:0px;}
#content .mob_info{display:none;}

.scrollTable_wrap{position:relative; overflow:hidden;}
.scrollTable_wrap::after{content:"";position:absolute;opacity:0;top:0rem;right:0rem;z-index:1;width: 18%;height:100%;visibility: hidden;background: linear-gradient(-90deg, rgba(255, 255, 255, 100%),rgb(255 255 255 / 99%), rgba(255, 255, 255, 0));transition:all 0.3s ease;pointer-events:none;}

/* tab all - cols */
.tabCol ul{display:table; width:100%; table-layout:fixed;}
.tabCol ul > li{display:table-cell; margin-left:-0.1px; vertical-align:middle;}
.tabCol ul > li:first-child{margin-left:0px;}
.tabCol ul > li > a{display:block; text-align:center;}

/* sitemap */
.area_sitemap{box-sizing:border-box; margin:0 auto; padding:0 15px;}
.area_sitemap .gnb:after{content:''; display:block; clear:both;}
.area_sitemap .gnb > li{float:left; width:15%; margin-left:2%;}
.area_sitemap .gnb > li:first-child{margin-left:0px;}
.area_sitemap .gnb > li > a{display:block; position:relative; padding:40px 0px; background:#eff7f9; font-size:23px; font-weight:600; color:#1b1b1b; text-align:center; letter-spacing:-1px; transition:all 0.3s ease 0s;}
.area_sitemap .gnb > li > a span{position:relative; z-index:5;}
.area_sitemap .gnb > li > a:after{content:''; display:block; position:absolute; left:0px; top:0px; z-index:2; width:100%; height:100%; background:#54b9f3; background-image:linear-gradient(0deg, #54b9f3, #0ab19b); background-image:-ms-linear-gradient(0deg, #54b9f3, #0ab19b); background-image:-webkit-linear-gradient(0deg, #54b9f3, #0ab19b); background-image:-moz-linear-gradient(0deg, #54b9f3, #0ab19b); background-image:-o-linear-gradient(0deg, #54b9f3, #0ab19b); transform:scaleX(0); transform-origin:0 0; transition:all 0.4s ease-out 0s;}
.area_sitemap .gnb > li > a:hover,
.area_sitemap .gnb > li:hover > a{color:#fff;}
.area_sitemap .gnb > li > a:hover:after,
.area_sitemap .gnb > li:hover > a:after{transform:scaleX(1);}
.area_sitemap .gnb > li > ul{margin-top:30px;}
.area_sitemap .gnb > li > ul > li{margin-bottom:10px; padding-left:20px;}
.area_sitemap .gnb > li > ul > li > a{display:inline-block; position:relative;  padding-left:10px; font-size:18px; font-weight:300; color:#333; letter-spacing:-1px; transition:all 0.3s ease 0s;}
.area_sitemap .gnb > li > ul > li > a:before{content:''; display:block; position:absolute; left:0px; top:13px; width:4px; height:1px; background:#666; transition:all 0.3s ease 0s;}
.area_sitemap .gnb > li > ul > li > a:hover{color:#3c9ed6;}
.area_sitemap .gnb > li > ul > li > a:hover:before{background:#3c9ed6;}

/* layer popup - basic */
.layerPop{position:absolute; z-index:90; overflow:hidden; border:1px solid #353535; border-radius:14px; z-index:10;}
.layerPop a{display:block;}
.layerPop img{max-width:100%;}
.layerPop .btn{display:flex; justify-content:space-between; padding:13px 10px; background:#353535; text-align:left;}
.layerPop .btn button{display:inline-block; margin-left:15px; background:none; color:#fff; font-size:13px;}
.layerPop .btn button:last-child{float:right; margin:0 12px 0 0;}

/* layer popup - btn control */
[data-pop-layer="layer"]{position:fixed; top:0px; left:0px; z-index:1000; width:100%; height:100%; background:rgba(0,0,0,0.2);}
[data-pop-layer="layer"] .popBox{position:absolute; top:50%; left:50%; min-width:400px; min-height:600px; box-sizing:border-box; background:#fff; box-shadow:3px 15px 20px rgba(0,0,0,0.15); transform:translate(-50%, -50%);}
[data-pop-layer="layer"] .popBox h2{height:67px; padding:0 20px !important; border-bottom:1px solid #eee; font-size:25px !important; font-weight:500; letter-spacing:-1px;}
[data-pop-layer="layer"] .popBox h2:after{content:''; display:inline-block; height:100%; vertical-align:middle;}
[data-pop-layer="layer"] .popBox h2 span{display:inline-block; width:99%; vertical-align:middle;}
[data-pop-layer="layer"] .popBox .btn_close{position:absolute; top:0px; right:-70px; width:70px; height:68px; line-height:68px; background:#34383e; box-shadow:3px 10px 15px rgba(0,0,0,0.15);}
[data-pop-layer="layer"] .popBox .btn_close span{display:inline-block; position:relative; width:18px; height:18px; margin:-4px auto 0; vertical-align:middle; background:url(../images/module/btn_close.png) no-repeat 50% 0; background-size:18px 18px; text-indent:100%; overflow:hidden; white-space:nowrap;}
[data-pop-layer="layer"] .popBox .btn_close:focus{outline:none;}
[data-pop-layer="layer"] .popBox .popConts{overflow-y:auto; max-height:532px; box-sizing:border-box; padding:20px 20px 40px;}
body[class*="ie"] [data-pop-layer="layer"] .popBox h2{height:68px; box-sizing:border-box;}

/* loading */
.area_loding{position:fixed; top:0px; left:0px; z-index:90; width:100%; height:100%; background:rgba(255,255,255,0.7);}
.area_loding .img{position:absolute; top:50%; left:50%; z-index:91; width:150px; height:150px; transform:translate(-50%, -50%);}

@media screen and (max-width:1024px){
	.area_sitemap .gnb > li{width:32%; margin-left:2%; margin-bottom:30px;}
	.area_sitemap .gnb > li:nth-child(3n+1){clear:both; margin-left:0px;}

	[data-pop-layer="layer"] .popBox{top:0px !important; left:0px !important; width:100% !important; height:100%  !important; min-width:inherit; min-height:inherit; transform:translate(0,0);}
	[data-pop-layer="layer"] .popBox h2{height:67px; box-sizing:border-box; padding-right:80px !important;}
	[data-pop-layer="layer"] .popBox .popConts{height:calc(100% - 67px); max-height:inherit;}
	[data-pop-layer="layer"] .popBox .btn_close{right:0px; box-shadow:none;}

	.layerPop{left:50% !important; transform:translateX(-50%);}
}

@media screen and (max-width:600px){
	#content .scrollTable{overflow:auto;}
	#content .scrollTable .table{width:650px;margin-right: 40px;}

	.scrollTable_wrap{width:111%;}

	#content .mob_info{display:block;}

	.area_sitemap .gnb > li{width:49%;}
	.area_sitemap .gnb > li:nth-child(3n+1){clear:none; margin-left:2%;}
	.area_sitemap .gnb > li:nth-child(2n+1){clear:left; margin-left:0px;}
	.area_sitemap .gnb > li > a{font-size:20px;}

	.layerPop{top:15vh; width:90% !important; height:auto !important;}
	.layerPop img{max-width:100%; width:100%;}
	.layerPop .btn button{margin-left:10px; font-size:12px;}
	.layerPop .btn button:last-child{margin:0 10px 0 0;}

	[data-pop-layer="layer"] .popBox h2{font-size:20px !important;}
}

@media screen and (max-width:540px){
	.scrollTable .table{width:600rem; min-width:100%;}

	.scrollTable_wrap::after{opacity:1; visibility:visible;}
	.scrollTable_wrap.posEnd::after{width:0;}
}

@media screen and (max-width:420px){
	.area_sitemap .gnb > li > ul > li > a{font-size:16px;}

	[data-pop-layer="layer"] .popBox h2{font-size:17px !important;}
	[data-pop-layer="layer"] .popBox h2 span{line-height:1.3em;}
}