@charset "utf-8";

/* NanumSquareNeo */
@font-face {
  font-family: 'UhBeeRice';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeRice.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }
