<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="project/layout/basic">


<div id="wrap">

  <th:block layout:fragment="content">
  <!-- area_subVisual -->
  <div class="area_subVisual">
    <section class="wrapper">
      <div class="sv_text">
        <h2>ROOMS</h2>
        <p>아이들과 함께 편안하고 즐거운 추억을 만들어보세요.</p>
      </div>
      <div class="area_lnb">
        <section class="wrapper">
          <h3>quick menu</h3>
          <ul>
            <li class="active">
              <a href="/rooms/kp" class="room_sub01 on">키즈핑크</a>
            </li>
            <li class="">
              <a href="/rooms/ky" class="room_sub02">키즈옐로우</a>
            </li>
            <li class="">
              <a href="/rooms/cw" class="room_sub03">시티풀화이트</a>
            </li>
            <li class="">
              <a href="/rooms/mp" class="room_sub04">뮤직핑크</a>
            </li>
            <li class="">
              <a href="/rooms/my" class="room_sub05">뮤직옐로우</a>
            </li>
          </ul>
        </section>
      </div>
    </section>
  </div>
  <!-- //area_subVisual -->

  <section id="container" class="rooms">
    <div id="content">
      <h3 class="sub_tit wrapper">키즈핑크</h3>
      <p class="wrapper">오직, 아이만을위한 다양한 놀이공간과 <br>가끔 어른들도 함께하는 세심한 배려가 담긴 아몬드키즈풀빌라입니다.  </p>

      <div class="sub_section ss01 roomSlider">
        <div class="swiper-container mySwiper">
          <ul class="swiper-wrapper">
            <th:block th:if="${bannerTop.isEmpty()}" >
              <li class="swiper-slide"><img src="/images/rooms/room01_img01.jpg"></li>
              <li class="swiper-slide"><img src="/images/rooms/room01_img02.jpg"></li>
              <li class="swiper-slide"><img src="/images/rooms/room01_img03.jpg"></li>
              <li class="swiper-slide"><img src="/images/rooms/room01_img04.jpg"></li>
              <li class="swiper-slide"><img src="/images/rooms/room01_img05.jpg"></li>
              <li class="swiper-slide"><img src="/images/rooms/room01_img06.jpg"></li>
              <li class="swiper-slide"><img src="/images/rooms/room01_img07.jpg"></li>
              <li class="swiper-slide"><img src="/images/rooms/room01_img08.jpg"></li>
              <li class="swiper-slide"><img src="/images/rooms/room01_img09.jpg"></li>
              <li class="swiper-slide"><img src="/images/rooms/room01_img10.jpg"></li>
              <li class="swiper-slide"><img src="/images/rooms/room01_img11.jpg"></li>
              <li class="swiper-slide"><img src="/images/rooms/room01_img12.jpg"></li>
            </th:block>
            <th:block th:unless="${bannerTop.isEmpty()}" th:each="items : ${bannerTop}">
              <li class="swiper-slide">
                <img style="width:100%; height:1041px;" th:src="@{/files/} + ${items.saveName}" alt="mainTopBanner">
              </li>
            </th:block>
          </ul>
        </div>
        <div class="swiper-button room-button-next"></div>
        <div class="swiper-button room-button-prev"></div>
      </div>

      <div class="sub_section ss02 room_info wrapper">
        <div>
          <h4 class="font_jalnan">대형 실내 수영장</h4>
          <ul>
            <li>
              <i><img src="/images/content/pool_icon01.svg" alt="미끄럼틀"></i>
              <p>미끄럼틀</p>
            </li>
            <li>
              <i><img src="/images/content/pool_icon02.svg" alt="미온수"></i>
              <p>미온수<span>(물 온도 33℃~36℃)</span></p>
            </li>
            <li>
              <i><img src="/images/content/pool_icon03.svg" alt="물 수위"></i>
              <p>물 수위<span>(650mm~700mm)</span></p>
            </li>
            <li>
              <i><img src="/images/content/pool_icon04.svg" alt="튜브 제공"></i>
              <p>튜브 제공</span></p>
            </li>
          </ul>
        </div>
        <!-- //대형실내수영장-->

        <div>
          <h4 class="font_jalnan">대형 키즈 놀이기구</h4>
          <ul>
            <li>
              <i><img src="/images/content/pool_icon01.svg" alt="미끄럼틀"></i>
              <p>미끄럼틀</p>
            </li>
            <li>
              <i><img src="/images/content/play_icon01.svg" alt="계단, 장애물"></i>
              <p>계단, 장애물</p>
            </li>
            <li>
              <i><img src="/images/content/play_icon02.svg" alt="주방 놀이기구"></i>
              <p>주방 놀이기구</p>
            </li>

            <li>
              <i><img src="/images/content/play_icon03.svg" alt="마켓놀이"></i>
              <p>마켓놀이</p>
            </li>

            <li>
              <i><img src="/images/content/play_icon05.svg" alt="레고"></i>
              <p>레고</p>
            </li>

            <li>
              <i><img src="/images/content/play_icon07.svg" alt="아동도서"></i>
              <p>아동도서</p>
            </li>
          </ul>
        </div>
        <!-- //대형키즈놀이기구-->

        <div>
          <h4 class="font_jalnan">주방 공간</h4>
          <ul>
            <li>
              <i><img src="/images/content/kitchen_icon01.svg" alt="LG UHD TV 55인치"></i>
              <p>LG UHD <br>TV 55인치</p>
            </li>
            <li>
              <i><img src="/images/content/kitchen_icon02.svg" alt="레트로 냉장고 106L"></i>
              <p>레트로 냉장고 <br>106L</p>
            </li>
            <li>
              <i><img src="/images/content/kitchen_icon03.svg" alt="LG 세탁기/건조기 겸용 9L"></i>
              <p>LG 세탁기/건조기 <br>겸용 9L</p>
            </li>

            <li>
              <i><img src="/images/content/kitchen_icon04.svg" alt="삼성 비스포크 전자레인지"></i>
              <p>삼성 비스포크 <br>전자레인지</p>
            </li>

            <li>
              <i><img src="/images/content/kitchen_icon05.svg" alt="6인용 테이블"></i>
              <p>6인용 테이블</p>
            </li>

            <li>
              <i><img src="/images/content/kitchen_icon06.svg" alt="식기류 제공"></i>
              <p>식기류 제공</p>
            </li>
          </ul>
        </div>
        <!-- //주방공간-->

        <div>
          <h4 class="font_jalnan">에어컨</h4>
          <ul>
            <li>
              <i><img src="/images/content/air_icon01.svg" alt="거실/LG 스탠드 에어컨"></i>
              <p><strong>(거실)</strong>LG 스탠드 <Br>에어컨</p>
            </li>
            <li>
              <i><img src="/images/content/air_icon02.svg" alt="침실/LG 천장형 에어컨"></i>
              <p><strong>(침실)</strong>LG 천장형 <Br>에어컨</p>
            </li>
          </ul>
        </div>
        <!-- //에어컨-->

        <div>
          <h4 class="font_jalnan">침실</h4>
          <ul>
            <li>
              <i><img src="/images/content/bed_icon01.svg" alt="침대 2개"></i>
              <p>침대 2개</p>
            </li>
            <li>
              <i><img src="/images/content/bed_icon02.svg" alt="온돌침구세트 2개"></i>
              <p>온돌침구세트 2개</p>
            </li>
          </ul>
        </div>
        <!-- //에어컨-->
        <a href="/contents/05_reservation/reservation.html"  class="button pink">실시간 예약</a>
      </div>
    </div>
  </section>
</th:block>
</div>

<th:block layout:fragment="css">
  <style >
  .wrapper {
    position: relative;
    width: 1400rem;
    max-width: 92%;
    margin: 0 auto;
    margin-bottom: 30rem;
  }

  .roomSlider {
    width: auto;
    height: auto;
  }

  .area_room .swiper-container {
    padding-bottom: 40em;
  }

  .area_room .swiper-button {
    position: absolute;
    top: 30%;
    margin-right: 10%;
    margin-left: 10%;
    display: block;
    width: 60rem;
    height: 60rem;
    margin-top: 0 !important;
    cursor: pointer;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 5rem 0 20rem rgba(0, 0, 0, .08);
    z-index: 8;
  }
  </style>
</th:block>

<th:block layout:fragment="script">
  <script th:inline="javascript">
    $(document).ready(function() {
      AOS.init();
      roomSlider();
      $('.area_lnb ul li').removeClass("active");
      $('.area_lnb ul li').eq(0).addClass("active");
    });

    var interleaveOffset = 0.5;
    function roomSlider() {
      new Swiper(".mySwiper", {
          slidesPerView: 1,
          speed: 2000,
          spaceBetween: 20,
          centeredSlides: false,
          loop : true,
<!--          loopAdditionalSlides : 1,-->
<!--          observer:true,-->
<!--          observeParents:true,-->
          navigation: {
              nextEl: ".room-button-next",
              prevEl: ".room-button-prev",
          },
          autoplay : {
              delay : 3000,
              disableOnInteraction : false,
          },
      });
    }
  </script>
</th:block>