<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="project/layout/basic">


<div id="wrap">

  <th:block layout:fragment="content">
  <!-- area_subVisual -->
  <div class="area_subVisual">
    <section class="wrapper">
      <div class="sv_text">
        <h2>review</h2>
        <p>아이들과 함께 편안하고 즐거운 추억을 만들어보세요.</p>
      </div>
    </section>
  </div>
  <!-- //area_subVisual -->

  <section id="container" class="wrapper">
    <div id="content">
      <h3 class="sub_tit">이용후기 글쓰기</h3>
      <form action="/ko_admin/board/skin/gallery/proc.php" method="post" name="form" enctype="multipart/form-data">
        <input type="hidden" name="board_id" value="board_food" />
        <input type="hidden" name="mode" value="write" />
        <input type="hidden" name="return_url" value="http://almondkidsbusan.com/contents/04_travel/food.html?mode=write&board_id=board_food&cate=" />
        <input type="hidden" name="no" value="" />
        <input type="hidden" name="ref_no" value="" />
        <input type="hidden" name="tag_type" value="" />

        <table class="bbsView">
          <colgroup>
            <col data-write="th" style="width:15%"/>
            <col data-write="td" style="width:85%"/>
          </colgroup>
          <tbody>
          <tr>
            <th scope="row"><span class="marking">필수항목</span><label for="title">제목</label></th>
            <td><input type="text" name="title" id="title" class="inputFull required" value=""/></td>
          </tr>
          <tr>
            <th scope="row"><span class="marking">필수항목</span><label for="name">작성자</label></th>
            <td><input type="text" name="name" id="name" value="" class="required" /></td>
          </tr>

          <tr>
            <th scope="row">비밀글 여부</th>
            <td>
              <span class="chkbox">
                <input type="checkbox" id="isNotice" name="isNotice" class="chk" /><i></i><label for="isNotice"> 설정</label>
              </span>
            </td>
          </tr>

          <tr>
            <th scope="row">비밀글 여부</th>
            <td>
              <div class="designCheck">
                <input type="checkbox" name="isSecret" id="secret" value="Y" /><label for="secret">비밀글 사용</label>
              </div>
            </td>
          </tr>


          <tr>
            <th scope="row">내용</th>
            <td>
              <textarea name="comments" id="smart_content" rows="2" cols="2" style="width:100%; ; height:412px;" class="inputFull"></textarea>
            </td>
          </tr>
          <tr>
            <th scope="row">첨부파일</th>
            <td>
              <div class='designFile'>
                <input type='text' readonly='readonly' value=''/>
                <input type='file' name='file_1' id='file_1'/><label for='file_1' class='button white'> 파일선택</label>
              </div>
              <span>첨부파일 가능 용량은 20MB 입니다</span>
            </td>
          </tr>
          <tr>
            <th scope="row"><span class="marking">필수항목</span><label for="pin">비밀번호</label></th>
            <td>
              <input type="password" name="password" id="pin" value="" class="required" title="비밀번호"  />
              <em>※ 글 수정, 삭제시 필요합니다.</em>
            </td>
          </tr>
          </tbody>
        </table>
      </form>

      <!-- 버튼 -->
      <div class="btn_area">
        <input type="submit" onclick="msgImpletion();" class="button white" value="저장" />
        <a href="/contents/04_travel/food.html?board_id=board_food&amp;mode=list&amp;start=" class="button gray">취소</a>
      </div>
      <!-- //버튼 -->
    </div>
  </section>

  </th:block>
</div>

<th:block layout:fragment="css">
  <style >

  </style>
</th:block>

<th:block layout:fragment="script">
  <script th:inline="javascript">
    $(document).ready(function() {
      selectDesign();
  });

  $(function(){
      jQuery('.scrollbar-dynamic').scrollbar();
      jQuery('.scrollbar-inner').scrollbar();
  });

  $(function() {
    $( ".datepicker" ).datepicker({
      dateFormat: 'yy-mm-dd',
      prevText: '이전 달',
      nextText: '다음 달',
      monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
      monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
      dayNames: ['일','월','화','수','목','금','토'],
      dayNamesShort: ['일','월','화','수','목','금','토'],
      dayNamesMin: ['일','월','화','수','목','금','토'],
      showMonthAfterYear: true,
      changeMonth: true,
      changeYear: true,
      showOn: "both",
      buttonText: "달력보기",
    });
  });

  function sms_send() {
      var phone_tmp1 = $("input[name='phone1']").val();
      var phone_tmp2 = $("input[name='phone2']").val();
      var phone_tmp3 = $("input[name='phone3']").val();

      if( phone_tmp1 == "" || phone_tmp2 == "" || phone_tmp3 == "" ){
          alert("휴대폰번호를 올바르게 입력해주세요.");
          return false;
      }

      if( phone_tmp1.length != 3 || phone_tmp2.length != 4 || phone_tmp3.length != 4 ){
          alert("휴대폰번호를 올바르게 입력해주세요.");
          return false;
      }

      var data = phone_tmp1 + "-" + phone_tmp2 + "-" + phone_tmp3;

      $.ajax({
          type : "POST",
          url : "/ko_admin/inc/sms_ajax.php",
          data : {
              data_send : data
          },
          success : function(args) {
                  alert(args);
          }
      });
  }

  function sms_auth() {
      var sms_auth = $("input[name='sms_auth']").val();

      if( sms_auth == ""){
          alert("인증번호를 올바르게 입력해주세요.");
          return false;
      }

      var phone_tmp1 = $("input[name='phone1']").val();
      var phone_tmp2 = $("input[name='phone2']").val();
      var phone_tmp3 = $("input[name='phone3']").val();

      if( phone_tmp1 == "" || phone_tmp2 == "" || phone_tmp3 == "" ){
          alert("휴대폰번호를 올바르게 입력해주세요.");
          return false;
      }

      if( phone_tmp1.length != 3 || phone_tmp2.length != 4 || phone_tmp3.length != 4 ){
          alert("휴대폰번호를 올바르게 입력해주세요.");
          return false;
      }

      var data = phone_tmp1 + "-" + phone_tmp2 + "-" + phone_tmp3;

      $.ajax({
          type : "POST",
          dataType: 'json',
          url : "/ko_admin/inc/sms_auth_ajax.php",
          data : {
              sms_auth : sms_auth,
              data_send : data
          },
          success : function(request) {
              alert(request.message);
              $("#auth_message").html(request.tag);
              if(request.result == "true"){
                  $("#sms_auth2").val("Y");
              }
          }
      });
  }

  $(document).ready(function() {
      $('form').submit(function() {
          var chk = true;

          //셀렉트 체크
          $('.required_select').each(function() {
              if (!$(this).val()) {
                  alert($(this).attr('title') + "을 선택하세요.");
                  $(this).focus();
                  chk = false;
                  return false;
              }
          });
          if (!chk) { return false; }

          // 라디오 버튼 체크
          $('.required_radio').each(function() {
          /*
              if (!$(this).find('input:radio:checked').length) {
                  alert($(this).attr('title') + "을 선택하세요.");
                  $(this).find('input:radio').first().focus();
                  chk = false;
                  return false;
              }
          */
              var radio_name = $(this).attr("name");

              if(!$("input[type=radio][name="+radio_name+"]").is(":checked")){
                  alert($(this).attr('title') + "을 선택하세요.");
                  //$(this).find('input:radio').first().focus();
                  $("input[type=radio][name="+radio_name+"]").focus();
                  chk = false;
                  return false;
              }

          });
          if (!chk) { return false; }

          // 체크박스 버튼 체크
          $('.required_checkbox').each(function() {

              // 최소 한개 선택
              if (!$(this).find('input:checkbox:checked').length) {
                  alert($(this).attr('title') + "을 선택하세요.");
                  $(this).find('input:checkbox').first().focus();
                  chk = false;
                  return false;
              }

              // 최대 선택
              if ($(this).find('input:checkbox:checked').length > $(this).attr('limit')) {
                  alert($(this).attr('title') + "는 " + $(this).attr('limit') + "개까지 선택이 가능합니다.");
                  $(this).find('input:checkbox').first().focus();
                  chk = false;
                  return false;
              }
              /*
              // 필수 선택 수 적용
              if ($(this).find('input:checkbox:checked').length != $(this).attr('limit')) {
                  alert($(this).attr('title') + "는 " + $(this).attr('limit') + "개까지 선택하셔야 합니다.");
                  $(this).find('input:checkbox').first().focus();
                  chk = false;
                  return false;
              }
              */

          });

          if (!chk) { return false; }

          $('.required').each(function() {
              if (!$(this).val()) {
                  alert($(this).attr('title') + "을 입력하세요.");
                  $(this).focus();
                  chk = false;
                  return false;
              }
          });

          if (!chk) { return false; }


          if("<?=$board[sms_auth]?>" == "Y" && "<?=$mode?>" != "modify"){
              $('.auth_required').each(function() {
                  if ($(this).val() != "Y") {
                      alert("인증을 진행해주세요.");
                      chk = false;
                      return false;
                  }
              });

              if (!chk) { return false; }
          }
      });

  });

  $(document).on('click', 'a[href="#"]', function(e){
      e.preventDefault();
  });

  $(function(){
      $('.btn_del').click(function(){
          $("."+$(this).attr('id')).toggle('show');
      });

      $('.btn_reply').click(function(){
          $("."+$(this).attr('id')).toggle('show');
      });

      $('.hide_all').click(function(){
              //$("."+$(this).attr('id')).toggle('hide');
              $(this).closest("div").toggle('hide');
      });
  });

      function reply_check(idx){
          var chk = true;

          if($("#"+"re_comment_name_"+idx).val() == "") {
              alert("이름을 작성하세요");
              chk = false;
              return false;
          }
          if (!chk) { return false; }


          if($("#"+"re_comment_pw_"+idx).val() == "") {
              alert("비밀번호를 작성하세요");
              chk = false;
              return false;
          }
          if (!chk) { return false; }

          if($("#"+"re_comment_text_"+idx).val() == "") {
              alert("내용을 작성하세요");
              chk = false;
              return false;
          }
          if (!chk) { return false; }
      }



  $(document).ready(function() {
      var chk = true;
      $(".comment_del_form").submit(function() {
          if($(this).children("input[type=password]").val() == ""){
              alert($(this).children('input[type=password]').attr('title')+"을 입력하세요");
              chk = false;
              return false;
          }
          if (!chk) { return false; }
      });

      $(".comment_append_form").submit(function() {
          if($(this).children("input[type=password]").val() == ""){
              alert($(this).children('input[type=password]').attr('title')+"을 입력하세요");
              chk = false;
              return false;
          }
          if (!chk) { return false; }
      });

      $(".comment_write").submit(function() {

          if($(this).children("input[type=comm_name]").val() == ""){
              alert($(this).children('input[type=comm_name]').attr('title')+"을 입력하세요");
              chk = false;
              return false;
          }
          if (!chk) { return false; }

          if($(this).children("input[type=comm_password]").val() == ""){
              alert($(this).children('input[type=comm_password]').attr('title')+"을 입력하세요");
              chk = false;
              return false;
          }
          if (!chk) { return false; }

          if($(this).children("textarea[type=comm_comments]").val() == ""){
              alert($(this).children('textarea[type=comm_comments]').attr('title')+"을 입력하세요");
              chk = false;
              return false;
          }
          if (!chk) { return false; }
      });



  });

  function selectDesign(){
      $('.designSelect select').each(function(){
          var $this = $(this), numberOfOptions = $(this).children('option').length;

          $this.addClass('select-hidden');
          $this.wrap('<div class="select"></div>');
          $this.after('<div class="selectbox"></div>');

          var $styledSelect = $this.next('div.selectbox');
          $styledSelect.text($this.children('option').eq(0).text());

          var $list = $('<ul />', {
              'class': 'selectoption'
          }).insertAfter($styledSelect);

          for (var i = 0; i < numberOfOptions; i++) {
              $('<li />', {
                  text: $this.children('option').eq(i).text(),
                  rel: $this.children('option').eq(i).val()
              }).appendTo($list);
              if($this.children('option').eq(i).is(':selected')){
                  var tmp_this = $this.children('option').eq(i);
                  $styledSelect.text(tmp_this.text()).removeClass('active');
              }
          }

          var $listItems = $list.children('li');

          $styledSelect.click(function(e) {
              $(this).parent("div").toggleClass('active');
              //$(".designSelect .select").addClass('active');
              e.stopPropagation();
              $('div.selectbox.active').not(this).each(function(){
                  $(this).removeClass('active').next('ul.selectoption').slideToggle();
              });
              $(this).toggleClass('active').next('ul.selectoption').slideToggle();

              $( ".designSelect" ).mouseleave(function() {
                   $styledSelect.removeClass('active').addClass('trans');
                   $(".designSelect .select").removeClass('active');
                  $list.slideUp();
              });
          });

          $listItems.click(function(e) {
              $list.children('li').removeClass("selected");
              $styledSelect.removeClass('trans');
              $(this).addClass("selected");
              e.stopPropagation();
              $styledSelect.text($(this).text()).removeClass('active');
              $this.val($(this).attr('rel'));
              $list.hide();
              $(".designSelect .select").removeClass('active');
          });
      });
  }

  </script>
</th:block>