<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:fragment="ConfigFragment">
        <!-- common Head-->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Chrome" />
        <meta property="og:image" content="/images/common/og_image.jpg">
        <meta property="og:url" content="https://almondkids.com" />
        <meta property="og:title" content="아몬드키즈풀빌라" />
        <meta name="description"  content="대형 놀이기구와 대형 키즈 수영장, 노래방 있는 키즈풀빌라" />
        <meta property="og:description" content="대형 놀이기구와 대형 키즈 수영장, 노래방 있는 키즈풀빌라" />
        <meta property="og:site_name" content="아몬드키즈풀빌라" />
        <meta property="naver-site-verification" content="" />
        <meta name="google-site-verification" content="" />
        <meta property="og:type" content="website" />

        <title>문경호</title>

        <!-- common Js -->
        <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
        <script th:src="@{/js/common.js}"></script>
        <script th:src="@{/js/scripts.js}"></script>
        <script src="https://kit.fontawesome.com/79613ae794.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <!-- common CSS-->
        <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
        <link href="https://webfontworld.github.io/goodchoice/Jalnan.css" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/font.css}" />
        <link rel="stylesheet" th:href="@{/css/swiper.css}" />
        <link rel="stylesheet" th:href="@{/css/default.css}" />
        <link rel="stylesheet" th:href="@{/css/common.css}" />
        <link rel="stylesheet" th:href="@{/css/content.css}" />
        <link rel="stylesheet" th:href="@{/css/button.css}" />
        <link rel="stylesheet" th:href="@{/css/styles.css}" />
        <link rel="stylesheet" th:href="@{/css/animate.css}" />
        <link rel="stylesheet" th:href="@{/css/base.css}" />
        <link rel="stylesheet" th:href="@{/css/main.css}" />
        <link rel="stylesheet" th:href="@{/css/notice.css}" />
        <link rel="stylesheet" th:href="@{/css/reservation.css}" />

        <!-- 각 페이지의 script가 작성될 위치 -->
        <th:block layout:fragment="script"></th:block>
        <!-- 각 페이지의 css가 작성될 위치 -->
        <th:block layout:fragment="css"></th:block>
    </head>
</html>