<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <div id="footer" th:fragment="FooterFragment">
      <section class="wrapper">
        <a href="/" class="footer_logo font_jalnan">almond <br>kids poolvilla</a>
        <div class="footer_address font_pre">
          <ul>
            <li><a href="/contents/01_about/sub01.html">회사소개</a></li>
            <li><a href="/contents/06_location/sub01.html">오시는 길</a></li>
            <li><a href="/contents/07_privacy/sub01.html">개인정보처리방침</a></li>
            <li><a href="/contents/07_privacy/sub02.html">이용약관</a></li>
            <li><a href="/contents/07_privacy/sub03.html">이메일무단수집거부</a></li>
          </ul>
          <address>
            <span>상호명 : 주식회사 푸른나무</span>
            <span>대표 : 박성철</span>
            <span>사업자번호 : 504-88-01362</span>
            <span>통신판매신고번호 : 제 2022-부산중구-0082호</span><br>
            <span>주소 : 부산광역시 중구 자갈치해안로57</span>
            <span>TEL : <a href="tel:051-715-8844">051-715-8844</a>(<a href="tel:010-2449-5665">010-2449-5665</a>)</span>
            <span>FAX : 051-715-8855</span>
            <span>E-MAIL : <a href="mailto:aria7766@naver.com">aria7766@naver.com</a></span>
          </address>
          <p>Copyright© 아몬드키즈풀빌라. All Rights Reserved.</p>
        </div>
      </section>
    </div>

</html>