<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="project/layout/basic">


<div id="wrap">

  <th:block layout:fragment="content">
  <!-- area_subVisual -->
  <div class="area_subVisual">
    <section class="wrapper">
      <div class="sv_text">
        <h2>오시는길</h2>
        <p>아이들과 함께 편안하고 즐거운 추억을 만들어보세요.</p>
      </div>
    </section>
  </div>
  <!-- //area_subVisual -->
  <section id="container" class="location wrapper">
    <div id="content">
      <h3 class="sub_tit mobile">오시는 길</h3>
      <section>
        <div class="map_info">
          <h3 class="sub_tit">오시는 길</h3>
          <div class="box address">
            <h4>
              <i><img src="/images/content/icon_spot.svg"></i>
              주소
            </h4>
            <p>부산광역시 중구 자갈치해안로 57</p>
          </div>

          <div class="box parking">
            <h4>
              <i><img src="/images/content/icon_parking.svg"></i>
              주차정보
            </h4>
            <ul>
              <li><p>
                <em>01</em>
                <strong>자갈치시장 노상공영주차장 (부산시 중구 구덕로 44) 명물횟집 앞</strong>
                주차관리인 1일 15,000원 (15시~익일11시)
              </p></li>

              <li><p>
                <em>02</em>
                <strong>부림타워주차장 (부산시 중구 자갈치로 72-6)</strong>
                1일 9,000원 (15시~익일11시)
              </p></li>

              <li><p>
                <em>03</em>
                <strong>주차는 1대 지원 가능합니다.</strong>
              </p></li>
            </ul>
          </div>
        </div>
        <div id="map">
          <div>
            <div id="daumRoughmapContainer1682666115813" class="root_daum_roughmap root_daum_roughmap_landing"></div>
<!--            <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>-->
<!--            <script charset="UTF-8">-->
<!--                      new daum.roughmap.Lander({-->
<!--                          "timestamp" : "1682666115813",-->
<!--                          "key" : "2eme2",-->
<!--                      }).render();-->
<!--                  </script>-->
          </div>
        </div>
      </section>
    </div>
  </section>
</th:block>
</div>

<th:block layout:fragment="css">
  <style >
  .wrapper {
    position: relative;
    width: 1400rem;
    max-width: 92%;
    margin: 0 auto;
    margin-bottom: 30rem;
  }
  </style>
</th:block>

<th:block layout:fragment="script">
  <script th:inline="javascript">
    $(document).ready(function() {
      AOS.init();
    });
  </script>
</th:block>