<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<div th:fragment="HeaderAdmin" id="header" class="mob">
  <div class="header_inner">
    <h1>
      <a href="/admin/index" title="">Admin</a>
    </h1>

    <!-- gnb -->
    <nav>
      <ul class="gnb">
        <li><a href="/admin/board/list" class="board">게시판</a></li>
        <li><a href="javascript:;" onclick="alert('준비중입니다');" class="banner">배너관리</a></li>
        <li><a href="/admin/notice/list" class="notice">공지사항</a></li>
        <li><a href="/admin/review/list" class="review">이용후기</a></li>
        <li><a href="/admin/reservation" class="reservation">예약</a></li>
      </ul>
    </nav>
    <!-- //gnb -->

    <div class="area_until">
      <ul>
        <li><a href="/admin/login">로그인</a></li>
        <li><a href="/admin/logout">로그아웃</a></li>
      </ul>
    </div>
  </div>
  <div class="submenu_Bg"></div>
  <div class="full_menu">
    <div class="img"></div>
    <div class="full_gnb"></div>
  </div>
</div>
</html>